<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Perfil</title>

        <link rel="stylesheet" href="../../styles/global.css" />
        <link rel="stylesheet" href="./candidateProfile.css" />
    </head>
    <body>
        <div class="navbar">
            <h3 class="navbarTitle">Brazilians In Tech</h3>
        </div>
        <div class="container">
            <div class="title">Vanessa do Mato</div>
            <p class="subTitle">25 anos</p>
            <p class="subTitle mb-2">Minas Gerais / Belo Horizonte</p>

            <div class="containerBody">
                <div class="sectionContainer">
                    <p class="textTitle">História</p>
                    <p class="text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p>
                </div>
                <div class="sectionContainer skillContainer">
                    <div class="flex-50">
                        <p class="textTitle">Competências técnicas</p>
                        <div class="skills">
                            <div class="badgeContainer">
                                <span class="badge badge-yellow">Html</span>
                                <span class="badge badge-yellow">Css</span>
                                <span class="badge badge-yellow">Javascript</span>
                                <span class="badge badge-yellow">Typescript</span>
                                <span class="badge badge-yellow">Jquery</span>
                                <span class="badge badge-yellow">React</span>
                            </div>
                        </div>
                    </div>

                    <div class="flex-50">
                        <p class="textTitle">Competências interpessoais</p>
                        <div class="skills">
                            <div class="badgeContainer">
                                <span class="badge badge-blue">Html</span>
                                <span class="badge badge-blue">Css</span>
                                <span class="badge badge-blue">Javascript</span>
                                <span class="badge badge-blue">Typescript</span>
                                <span class="badge badge-blue">Jquery</span>
                                <span class="badge badge-blue">React</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sectionContainer">
                    <p class="textTitle">Informações de contato</p>
                    <div class="contactGroup">
                        <label for="" class="contactLabel">Email:</label>
                        <span class="contact">contato@braziliansintech.com</span>
                    </div>
                    <div class="contactGroup">
                        <label for="" class="contactLabel">Celular:</label>
                        <span class="contact">+55 31 99999-9999</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
