<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar vaga</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&family=Roboto+Slab:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="jobFirstPage.css">
</head>
<body>
    <div class="D-flex">
         <div class="display-botoes">
             <div class="botoes">

                <div class="lateral">
                    <a href=" ">
                        <button type=button onclick="Informações()">
                             <img class="info-icon" src="./imagens/info-icon-amarelo.png">
                            <br/>
                        </button>
                    </a>
                    </br/>
                    <p class="texto-destacado">INFORMAÇÕES</p>
                </div>
    
                <div class="lateral2">
                    <a href=" ">
                        <button type=button onclick="Competências()">
                            <img class="curriculo-icon" src=".\imagens\curriculo-icon.png">
                        </button>
                    </a>
                    <br/>
                    <p class="texto-botao">FILOSOFIA</p>
                </div>
        </div> 
    </div>

    <div class="display-formulario">
        <div class="informações">
            <h2>INFORMAÇÕES DA VAGA</h2>
    </div>

    <div class="display-formulario">
        <div class="informações">
            <h2>INFORMAÇÕES DO RECRUTADOR</h2>
            <div class="box-input-50">
                <input type="text" placeholder="Nome">
            </div>
            <div class="box-input-50">
                <input type="text" placeholder="Sobrenome">
            </div>
            <div class="box-input-50">
                <input type="text" placeholder="Cargo">
            </div>
            <div class="box-input-50">
                <input type="text" placeholder="E-mail">
            </div>
            <div class="box-input-50">
                <input type="text" placeholder="Telefone">
            </div>
            <div class="box-input-50">
                <input type="text" placeholder="País/Estado">
            </div>
    </div>
    
</body>
</html>