<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cadastrousuaria.css">
    <link rel="stylesheet" href="./userSignUp1.css">
    <title>Currículo</title>
</head>

<body>
    <title>Currículo</title>
    </head>

    <body>
        <nav>
            <ul>
                <li class="flex-item column font-nav"><img class ="nav-img" src= "./icon.info.svg">Informações</li>
                <li class="flex-item column font-nav"><img class="nav-img2" src= "./icon.database.svg">Filosofia</li>
                <li class="flex-item column font-nav"><img class="nav-img3" src="./icon.upload.svg">Upload</li>
            </ul>
        </nav>
        <a href=>
            <button class="button" type="button" onclick="" Continuar()>SOLICITAR APROVAÇÃO</button>
        </a>
        <div class="cadastro-box"> <h2 class="font-title">BADGES(PREMIAÇÕES OU PROGRAMAS DA EMPRESA)</h2></div>
        <div class="cadastro-box2"> <h2 class="font-title">LOGO DA EMPRESA</h2></div>
    </body>
