<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Competências</title>
        <link rel="stylesheet" href="../../styles/global.css" />
        <link rel="stylesheet" href="./skills.css" />
    </head>
    <body>
        <div class="navbar">
            <h3 class="navbarTitle">Brazilians In Tech</h3>
        </div>
        <div class="container">
            <div class="sidebar">
                <div class="listTitle">Aprovação</div>
                <ul class="list">
                    <li class="listItem">
                        <a href="../companyApproval/companyApproval.html">Aprovação de empresas</a>
                    </li>
                </ul>
                <div class="listTitle">Padronizações</div>
                <ul class="list">
                    <li class="listItem active"><a href="">Competências Técnicas</a></li>
                    <li class="listItem"><a href="">Competências Interpessoais</a></li>
                    <li class="listItem"><a href="">Tipos de vaga</a></li>
                    <li class="listItem"><a href="">Modelos de trabalho</a></li>
                    <li class="listItem"><a href="">Áreas</a></li>
                </ul>
                <div class="listTitle">Visualizar</div>
                <ul class="list">
                    <li class="listItem"><a href="">Empresas aprovadas</a></li>
                    <li class="listItem"><a href="">Usuárias</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="title">Competências</div>

                <div class="skillGrid">
                    <div class="skillContainer">
                        <p class="skillName">Html</p>
                        <img class="trashIcon" src="../../assets/skills/trashIcon.png" alt="Lixo" />
                    </div>
                    <div class="skillContainer">
                        <p class="skillName">Html</p>
                        <img class="trashIcon" src="../../assets/skills/trashIcon.png" alt="Lixo" />
                    </div>
                    <div class="skillContainer">
                        <p class="skillName">Html</p>
                        <img class="trashIcon" src="../../assets/skills/trashIcon.png" alt="Lixo" />
                    </div>
                    <div class="skillContainer">
                        <p class="skillName">Html</p>
                        <img class="trashIcon" src="../../assets/skills/trashIcon.png" alt="Lixo" />
                    </div>
                    <div class="skillContainer">
                        <p class="skillName">Html</p>
                        <img class="trashIcon" src="../../assets/skills/trashIcon.png" alt="Lixo" />
                    </div>
                    <div class="skillContainer">
                        <p class="skillName">Html</p>
                        <img class="trashIcon" src="../../assets/skills/trashIcon.png" alt="Lixo" />
                    </div>
                    <div class="skillContainer">
                        <p class="skillName">Html</p>
                        <img class="trashIcon" src="../../assets/skills/trashIcon.png" alt="Lixo" />
                    </div>
                    <div class="skillContainer">
                        <p class="skillName">Html</p>
                        <img class="trashIcon" src="../../assets/skills/trashIcon.png" alt="Lixo" />
                    </div>
                    <div class="skillContainer">
                        <p class="skillName">Html</p>
                        <img class="trashIcon" src="../../assets/skills/trashIcon.png" alt="Lixo" />
                    </div>
                    <div class="skillContainer">
                        <p class="skillName">Html</p>
                        <img class="trashIcon" src="../../assets/skills/trashIcon.png" alt="Lixo" />
                    </div>
                    <div class="skillContainer">
                        <p class="skillName">Html</p>
                        <img class="trashIcon" src="../../assets/skills/trashIcon.png" alt="Lixo" />
                    </div>
                </div>

                <!-- <table id="table_id" class="display">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Html</td>
                            <td>
                                <div class="actionContainer">
                                    <a href=""><img class="trashIcon" src="../../assets/skills/trashIcon.png" alt="Lixo" /></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Css</td>
                            <td>
                                <div class="actionContainer">
                                    <a href=""><img class="trashIcon" src="../../assets/skills/trashIcon.png" alt="Lixo" /></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table> -->
            </div>
        </div>

        <script src="./skills.js"></script>
    </body>
</html>
