<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cadastrousuaria.css">
    <link rel="stylesheet" href="./userSignUp2.css">
    <title>Currículo</title>
</head>

<body>
    <title>Currículo</title>
    </head>

    <body>
        <nav>
            <ul>

                <li class="flex-item column font-nav"><img class ="nav-img" src= "icones/icon.info.svg">Informações</li>
                <li class="flex-item column font-nav"><img class="nav-img2" src= "icones/icon.database.svg">Competências</li>
                <li class="flex-item column font-nav"><img class="nav-img3" src="icones/icon.upload.svg">Currículo</li>
            </ul>
        </nav>
        <a href=>
            <button class="button" type="button" onclick="" Continuar()>Continuar</button>
        </a>
        <div class="cadastro-box"> <h2 class="font-title">COMPETÊNCIAS TÉCNICAS</h2></div>
        <div class="cadastro-box2"> <h2 class="font-title">COMPETÊNCIAS INTERPESSOAIS</h2></div>
    </body>