<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Empresa</title>

        <link rel="stylesheet" href="../../styles/global.css" />
        <link rel="stylesheet" href="./viewCompany.css" />
    </head>
    <body>
        <div class="navbar">
            <h3 class="navbarTitle">Brazilians In Tech</h3>
           
            <div class="navItem">
                <a href="/views/landingPage/landingPage.html">Logout</a>
            </div>
        </div>
        <div class="container">
            <div class="sidebar">
                <div class="listTitle">Aprovação</div>
                <ul class="list">
                    <li class="listItem active"><a href="../companyApproval/companyApproval.html">Aprovação de empresas</a></li>
                </ul>
                <div class="listTitle">Padronizações</div>
                <ul class="list">
                    <li class="listItem"><a href="">Competências</a></li>
                    <li class="listItem"><a href="">Tipos de vaga</a></li>
                    <li class="listItem"><a href="">Modelos de trabalho</a></li>
                    <li class="listItem"><a href="">Áreas</a></li>
                </ul>
                <div class="listTitle">Visualizar</div>
                <ul class="list">
                    <li class="listItem"><a href="">Empresas aprovadas</a></li>
                    <li class="listItem"><a href="">Usuárias</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="title">Nome da Empresa</div>
                <div class="containerBody">
                    <div class="left">
                        <div class="textContainer">
                            <p class="textTitle">Filosofia</p>
                            <p class="text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                        <div class="textContainer">
                            <p class="textTitle">Cultura</p>
                            <p class="text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                        <div class="textContainer">
                            <p class="textTitle">Conquistas da empresa</p>
                            <p class="text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>
                    <div class="right">
                        <img class="img logo" src="../../assets/companyProfile/microsoftLogo.png" alt="Logo" />
                        <div>
                            <p class="textTitle">Informações da empresa</p>
                            <div class="informations">
                                <p class="informationParagraph"><span>Email: </span> contato@outlook.com</p>
                                <p class="informationParagraph"><span>CNPJ: </span> XX. XXX. XXX/0001-XX.</p>
                                <p class="informationParagraph"><span>Data de abertura: </span> 07/02/2016</p>
                                <p class="informationParagraph"><span>Telefone: </span> 31 99565-2645</p>
                                <p class="informationParagraph"><span>Localização: </span> Minas Gerais</p>
                                <p class="informationParagraph"><span>Nicho de mercado: </span> Tecnologia</p>
                                <p class="informationParagraph">
                                    <span>Endereço: </span> Rua Desembargador Jorge Fontana
                                </p>
                                <p class="informationParagraph"><span>NIT/PIS/PASEP: </span> XX. XXX. XXX/0001-XX.</p>
                            </div>
                        </div>
                        <div>
                            <p class="textTitle">Informações do recrutador</p>
                            <div class="informations">
                                <p class="informationParagraph"><span>Nome: </span> Alberto Fonseca</p>
                                <p class="informationParagraph"><span>Cargo: </span> CEO</p>
                                <p class="informationParagraph"><span>Email: </span> alberto@gmail.com</p>
                                <p class="informationParagraph"><span>Telefone: </span> 31 99565-2645</p>
                                <p class="informationParagraph"><span>País / Estado: </span> Brasil, Minas Gerais</p>
                            </div>
                        </div>
                        <div class="buttonContainer">
                            <button class="btn btn-green">Aprovar</button>
                            <button class="btn btn-grey">Excluir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
