:root{ 
    --cor-principal: #F3C423;
    --cor-secundaria: black;
   }
   nav{
       background-color:var();
       width: 100%;
       max-width: 350px;
       position: relative;
       top: 15px
   }
   nav ul {
       padding: 0;
       list-style-type: none;
   }
   nav ul li{
       border-bottom: 1px solid var ();
       display: block;
   }
   nav ul li a{
       color:rgb(255, 255, 255);
       padding:0%;
       display:block;
       text-decoration: none;
       }
   nav ul li a :hover{
       background-color:var(--cor-secundaria)
   }
   html{
       background-color:#F3C423;
       width: auto;
       height: auto;
   }
   .flex-item{
       height:auto;
       width:auto;
       margin: 10px;
   }
   .column{
       flex-direction: column;
   }
   .flex-container{
       display:flex
   }
   .font-nav{
   font-family:sans-serif;
   font: size 24px;
   font-weight: bold;
   text-transform: capitalize;
   text-decoration: none;
   color:white;
   margin-bottom: 70px;
   }
   .font-title{
       font-family:sans-serif;
       font: size 30px;
       font-weight: 600;
       text-transform: uppercase;
       text-decoration:none;
       text-align: center;
       color:#F3C423;
       padding: 5px 500px 100px 500px;
       background-color: white;
   }
   .button{
       font-size: 20px;
       font-family: sans-serif;
       text-align: center;
       text-transform: uppercase;
       font-weight: 600;
       background-color: white;
       border-color: white;
       text-align: center;
       cursor:pointer;
       color:#F3C423;
       right: 10px;
       padding: 10px 80px;
       border-radius: 3px;
       box-shadow: var(--shadow-dark);
       position: relative;
       top: 0px;
       left: 950px;
       box-shadow: rgb(136, 136, 136) 0px 3px 5px;
   }
   .cadastro-box{
       border-color: white;
       border-style: solid;  
       display: flex; 
       position: relative;
       left: 200px;
       bottom: 525px;
       align-content: center;
       z-index: -1;
       background-color: white;
       margin-bottom: 20px;
       box-shadow: rgb(136, 136, 136) 0px 5px 5px;
    }
    .nav-img{
        border-color: white;
        position: relative;
        left: 5px;
        top: 0px;
        max-width: 80px;
        width: auto;
        display: flex;
        align-items: flex-start;
    }
    .nav-img2{
        border-color: white;
        position: relative;
        left: 5px;
        top: 0px;
        max-width: 80px;
        width: auto;
        display: flex;
        align-items: flex-start;
    }
    .nav-img3{
        position:relative;
        left:5px;
        top:0px;
        max-width: 80px;
        width: auto;
        display: flex;
        align-items: flex-start;
    }
