<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cadastrousuaria.css">
    <link rel="stylesheet" href="./userSignUp1.css">
    <title>Currículo</title>
    <script src="https://kit.fontawesome.com/84f260649b.js" crossorigin="anonymous"></script>
</head>
<body> 
    <link rel="stylesheet" href="./userSignUp1.css">
    <title>Currículo</title>
</head>
<body> 
    <a href="">
        <i class="fa-solid fa-info nav-img"></i>
    </a>
        <a href="">
            <i class="fa-solid fa-database nav-img2"></i>
        </a>
    <a href="">
        <i class="fa-solid fa-arrow-up-from-bracket nav-img3"></i>
    </a>
    <nav>
        <ul>
            <li class="flex-item column font-nav">
                <a href="">Informações</a>
            </li>
            <li class="flex-item column font-nav">
                <a href="">Competências</a>
            </li>
            <li class="flex-item column font-nav"
            <a href="">Currículo</a></li>
        </ul>
    </nav>
    <a href=>
    <button class = "button" type="button" onclick=""Continuar()>Continuar</button>
    </a>
    <h2 class="font-title cadastro-box">COMPETÊNCIAS TÉCNICAS</h2>
    <h2 class="font-title cadastro-box">COMPETÊNCIAS INTERPESSOAIS</h2>
</body>


