<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vagas</title>
        <link rel="stylesheet" href="../../styles/global.css" />
        <link rel="stylesheet" href="./jobs.css" />
    </head>
    <body>
        <div class="navbar">
            <h3 class="navbarTitle">Brazilians In Tech</h3>
        </div>
        <div class="pageContainer">
            <div class="companiesContainer">
                <h1 class="title">Vagas</h1>
                <div class="createJobContainer">
                    <a href="" class="createJobLink">Criar vaga</a>
                </div>
                <div class="grid">
                    <div class="gridBox">
                        <h4 class="boxTitle">Nome da vaga</h4>
                        <p class="boxSubTitle">Fortaleza / Ceara</p>
                        <div class="badgeContainer">
                            <span class="badge badge-yellow"> Html </span>
                            <span class="badge badge-yellow"> Html </span>
                        </div>
                        <p class="boxText">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla dolorem soluta cum illum
                            ullam nam accusantium ipsum
                        </p>
                        <div class="iconsContainer">
                            <a><img src="../../assets/icons/eye.svg" class="icon" alt="" /></a>

                            <a><img src="../../assets/icons/edit.svg" class="icon" alt="" /></a>

                            <a href="/views/candidates/candidates.html"><img src="../../assets/icons/person.svg" class="icon" alt="" /></a>
                        </div>
                    </div>
                    <div class="gridBox">
                        <h4 class="boxTitle">Nome da vaga</h4>
                        <p class="boxSubTitle">Fortaleza / Ceara</p>
                        <div class="badgeContainer">
                            <span class="badge badge-yellow"> Html </span>
                            <span class="badge badge-yellow"> Html </span>
                        </div>
                        <p class="boxText">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla dolorem soluta cum illum
                            ullam nam accusantium ipsum
                        </p>
                        <div class="iconsContainer">
                            <a><img src="../../assets/icons/eye.svg" class="icon" alt="" /></a>

                            <a><img src="../../assets/icons/edit.svg" class="icon" alt="" /></a>

                            <a href="/views/candidates/candidates.html"><img src="../../assets/icons/person.svg" class="icon" alt="" /></a>
                        </div>
                    </div>
                    <div class="gridBox">
                        <h4 class="boxTitle">Nome da vaga</h4>
                        <p class="boxSubTitle">Fortaleza / Ceara</p>
                        <div class="badgeContainer">
                            <span class="badge badge-yellow"> Html </span>
                            <span class="badge badge-yellow"> Html </span>
                        </div>
                        <p class="boxText">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla dolorem soluta cum illum
                            ullam nam accusantium ipsum
                        </p>
                        <div class="iconsContainer">
                            <a><img src="../../assets/icons/eye.svg" class="icon" alt="" /></a>

                            <a><img src="../../assets/icons/edit.svg" class="icon" alt="" /></a>

                            <a href="/views/candidates/candidates.html"><img src="../../assets/icons/person.svg" class="icon" alt="" /></a>
                        </div>
                    </div>
                    <div class="gridBox">
                        <h4 class="boxTitle">Nome da vaga</h4>
                        <p class="boxSubTitle">Fortaleza / Ceara</p>
                        <div class="badgeContainer">
                            <span class="badge badge-yellow"> Html </span>
                            <span class="badge badge-yellow"> Html </span>
                        </div>
                        <p class="boxText">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla dolorem soluta cum illum
                            ullam nam accusantium ipsum
                        </p>
                        <div class="iconsContainer">
                            <a><img src="../../assets/icons/eye.svg" class="icon" alt="" /></a>

                            <a><img src="../../assets/icons/edit.svg" class="icon" alt="" /></a>

                            <a href="/views/candidates/candidates.html"><img src="../../assets/icons/person.svg" class="icon" alt="" /></a>
                        </div>
                    </div>
                    <div class="gridBox">
                        <h4 class="boxTitle">Nome da vaga</h4>
                        <p class="boxSubTitle">Fortaleza / Ceara</p>
                        <div class="badgeContainer">
                            <span class="badge badge-yellow"> Html </span>
                            <span class="badge badge-yellow"> Html </span>
                        </div>
                        <p class="boxText">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla dolorem soluta cum illum
                            ullam nam accusantium ipsum
                        </p>
                        <div class="iconsContainer">
                            <a><img src="../../assets/icons/eye.svg" class="icon" alt="" /></a>

                            <a><img src="../../assets/icons/edit.svg" class="icon" alt="" /></a>

                            <a href="/views/candidates/candidates.html"><img src="../../assets/icons/person.svg" class="icon" alt="" /></a>
                        </div>
                    </div>
                    <div class="gridBox">
                        <h4 class="boxTitle">Nome da vaga</h4>
                        <p class="boxSubTitle">Fortaleza / Ceara</p>
                        <div class="badgeContainer">
                            <span class="badge badge-yellow"> Html </span>
                            <span class="badge badge-yellow"> Html </span>
                        </div>
                        <p class="boxText">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla dolorem soluta cum illum
                            ullam nam accusantium ipsum
                        </p>
                        <div class="iconsContainer">
                            <a><img src="../../assets/icons/eye.svg" class="icon" alt="" /></a>

                            <a><img src="../../assets/icons/edit.svg" class="icon" alt="" /></a>

                            <a href="/views/candidates/candidates.html"><img src="../../assets/icons/person.svg" class="icon" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
