<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Candidatas</title>

        <link rel="stylesheet" href="../../styles/global.css" />
        <link rel="stylesheet" href="./candidates.css" />
    </head>
    <body>
        <div class="navbar">
            <h3 class="navbarTitle">Brazilians In Tech</h3>
            <div class="navItem">
                <a href="/views/jobs/jobs.html">Vagas</a>
            </div>
            <div class="navItem">
                <button type="text" id="logoutButton">Logout</button>
            </div>
        </div>
        <div class="container">
            <a href="../jobs/jobs.html" class="backBtn"> <img src="../../assets/icons/back.png" alt="Voltar" /></a>
            <h1 class="title">Candidatas BiT</h1>
            <p class="subTitle">
                A BiT garante que todas as candidatas listadas abaixa cumprem pelo menos 75% dos requisitos da vaga
                proposta pela sua empresa
            </p>

            <div class="grid">
                <div class="gridBox">
                    <h4 class="boxTitle">Vanessa Santos</h4>
                    <p class="boxSubTitle">Fortaleza / Ceara</p>
                    <div class="badgeContainer">
                        <span class="badge badge-yellow"> Html </span>
                        <span class="badge badge-yellow"> Css </span>
                    </div>
                    <p class="boxText">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla dolorem soluta cum illum
                        ullam nam accusantium ipsum
                    </p>
                    <a class="btn btn-yellow" href="../candidateProfile/candidateProfile.html">Mais detalhes</a>
                </div>
                <div class="gridBox">
                    <h4 class="boxTitle">Vanessa Santos</h4>
                    <p class="boxSubTitle">Fortaleza / Ceara</p>
                    <div class="badgeContainer">
                        <span class="badge badge-yellow"> Html </span>
                        <span class="badge badge-yellow"> Css </span>
                    </div>
                    <p class="boxText">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla dolorem soluta cum illum
                        ullam nam accusantium ipsum
                    </p>
                    <a class="btn btn-yellow" href="../candidateProfile/candidateProfile.html">Mais detalhes</a>
                </div>
                <div class="gridBox">
                    <h4 class="boxTitle">Vanessa Santos</h4>
                    <p class="boxSubTitle">Fortaleza / Ceara</p>
                    <div class="badgeContainer">
                        <span class="badge badge-yellow"> Html </span>
                        <span class="badge badge-yellow"> Css </span>
                    </div>
                    <p class="boxText">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla dolorem soluta cum illum
                        ullam nam accusantium ipsum
                    </p>
                    <a class="btn btn-yellow" href="../candidateProfile/candidateProfile.html">Mais detalhes</a>
                </div>
                <div class="gridBox">
                    <h4 class="boxTitle">Vanessa Santos</h4>
                    <p class="boxSubTitle">Fortaleza / Ceara</p>
                    <div class="badgeContainer">
                        <span class="badge badge-yellow"> Html </span>
                        <span class="badge badge-yellow"> Css </span>
                    </div>
                    <p class="boxText">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla dolorem soluta cum illum
                        ullam nam accusantium ipsum
                    </p>
                    <a class="btn btn-yellow" href="../candidateProfile/candidateProfile.html">Mais detalhes</a>
                </div>
                <div class="gridBox">
                    <h4 class="boxTitle">Vanessa Santos</h4>
                    <p class="boxSubTitle">Fortaleza / Ceara</p>
                    <div class="badgeContainer">
                        <span class="badge badge-yellow"> Html </span>
                        <span class="badge badge-yellow"> Css </span>
                    </div>
                    <p class="boxText">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla dolorem soluta cum illum
                        ullam nam accusantium ipsum
                    </p>
                    <a class="btn btn-yellow" href="../candidateProfile/candidateProfile.html">Mais detalhes</a>
                </div>
                <div class="gridBox">
                    <h4 class="boxTitle">Vanessa Santos</h4>
                    <p class="boxSubTitle">Fortaleza / Ceara</p>
                    <div class="badgeContainer">
                        <span class="badge badge-yellow"> Html </span>
                        <span class="badge badge-yellow"> Css </span>
                    </div>
                    <p class="boxText">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla dolorem soluta cum illum
                        ullam nam accusantium ipsum
                    </p>
                    <a class="btn btn-yellow" href="../candidateProfile/candidateProfile.html">Mais detalhes</a>
                </div>
                <div class="gridBox">
                    <h4 class="boxTitle">Vanessa Santos</h4>
                    <p class="boxSubTitle">Fortaleza / Ceara</p>
                    <div class="badgeContainer">
                        <span class="badge badge-yellow"> Html </span>
                        <span class="badge badge-yellow"> Css </span>
                    </div>
                    <p class="boxText">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla dolorem soluta cum illum
                        ullam nam accusantium ipsum
                    </p>
                    <a class="btn btn-yellow" href="../candidateProfile/candidateProfile.html">Mais detalhes</a>
                </div>
                <div class="gridBox">
                    <h4 class="boxTitle">Vanessa Santos</h4>
                    <p class="boxSubTitle">Fortaleza / Ceara</p>
                    <div class="badgeContainer">
                        <span class="badge badge-yellow"> Html </span>
                        <span class="badge badge-yellow"> Css </span>
                    </div>
                    <p class="boxText">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla dolorem soluta cum illum
                        ullam nam accusantium ipsum
                    </p>
                    <a class="btn btn-yellow" href="../candidateProfile/candidateProfile.html">Mais detalhes</a>
                </div>
            </div>
        </div>
    </body>

    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
    ></script>
    <script src="../../global/global.js"></script>
    <script src="./candidates.js"></script>
</html>
