<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Áreas</title>
        <link rel="stylesheet" href="../../styles/global.css" />
        <link rel="stylesheet" href="./area.css" />
    </head>
    <body>
        <div class="navbar">
            <h3 class="navbarTitle">Brazilians In Tech</h3>
            <div class="navItem">
                <button id="logoutButton">Logout</button>
            </div>
        </div>
        <div class="container">
            <div class="sidebar">
                <div class="listTitle">Aprovação</div>
                <ul class="list">
                    <li class="listItem">
                        <a href="/views/companyApproval/companyApproval.html">Aprovação de empresas</a>
                    </li>
                </ul>
                <div class="listTitle">Padronizações</div>
                <ul class="list">
                    <li class="listItem"><a href="/views/skills/skills.html">Competências</a></li>
                </ul>
                <ul class="list">
                    <li class="listItem active"><a href="/views/area/area.html">Áreas</a></li>
                </ul>
                <div class="listTitle">Visualizar</div>
                <ul class="list">
                    <li class="listItem">
                        <a href="/views/companies/companies.html">Empresas aprovadas</a>
                    </li>
                    <li class="listItem"><a href="">Usuárias [Em desenvolvimento]</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="title">Áreas</div>
                <button id="modalBtn" class="createAreaBtn">Criar área</button>
                <table class="areaTable">
                    <tr class="row">
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </table>
            </div>
        </div>

        <div class="backdrop"></div>

        <div class="modal">
            <div class="modalHead">Criar área</div>
            <div class="modalBody">
                <input type="text" class="areaInput" placeholder="Nome" id="areaName" />

                <button class="createAreaBtn" id="createArea">Criar</button>
            </div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script src="../../global/global.js"></script>
        <script src="./area.js"></script>
    </body>
</html>
