body {
    background-color: var(--color-primary);
    position: relative;
    min-height: 100vh;
}

.container {
    background-color: var(--color-white);
    border-radius: 1rem;

    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 4rem;
    margin: 4rem auto;
    padding: 6rem 4rem;
    width: 90vw;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 35rem; */
    flex: 0 0 40%;
}

.imageContainer > img {
    width: 70%;
    height: 100%;
    object-fit: scale-down;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
}

.h1 {
    font-family: 'Inter', 'sans-serif';
    letter-spacing: 0.01em;
    font-weight: 800;
    color: #530084;
}

.titulo {
    font-size: 2.8rem;
    font-weight: 900;
}

.sub {
    font-size: 2.4rem;
    display: block;
}

.color {
    color: #f3c42e;
}

.box {
    border: 0.3rem solid #f3c42e;
    border-radius: 0.3rem;
    padding: 2.4rem 4rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.4);
    width: 100%;
    display: flex;
    align-items: center;
}

.boxImageContainer {
    flex: 0 1 30%;
    margin-right: 2rem;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txt {
    display: flex;
    flex-direction: column;
    grid-gap: 1.6rem;
    flex: 1;
}

.btn {
    font-family: 'Nunito', 'sans-serif';
    font-size: 2rem;
    font-weight: 700;
    padding: 0.6rem 6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: #530084;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
    transition: all 0.2s;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    transform: scale(1.03);
}

/* 900 px */
@media screen and (max-width: 56.25em) {
    .container {
        flex-direction: column;
    }
}


p {
    margin: 0px;
  }
  
  body {
    margin: 0px;
    height: 200vh;
    background: #f3c42e;
  }
  
  .cookies-container {
    color: #222;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    width: 100%;
    bottom: 2rem;
    z-index: 1000;
  }
  
  .cookies-content {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    border: 0.3rem solid #f3c42e;
    background: #ffffff;
    max-width: 520px;
    border-radius: 5px;
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
    opacity: 0;
    transform: translateY(1rem);
    animation: slideUp 0.5s forwards;
  }
  
  @keyframes slideUp {
    to {
      transform: initial;
      opacity: initial;
    }
  }
  
  .cookies-pref label {
    margin-right: 1rem;
  }
  
  .cookies-save {
    grid-column: 2;
    grid-row: 1/3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #007cf8;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    font-size: 1rem;
  }
  
  @media (max-width: 500px) {
    .cookies-content {
      grid-template-columns: 1fr;
    }
    .cookies-save {
      grid-column: 1;
      grid-row: 3;
    }
  }
