<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Empresa</title>

        <link rel="stylesheet" href="../../styles/global.css" />
        <link rel="stylesheet" href="./companyProfile.css" />
    </head>
    <body>
        <div class="navbar">
            <h3 class="navbarTitle">Brazilians In Tech</h3>
        </div>
        <div class="container">
            <div class="title">Nome da Empresa</div>
            <div class="containerBody">
                <div class="left">
                    <div class="textContainer">
                        <p class="textTitle">Filosofia</p>
                        <p class="text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.
                        </p>
                    </div>
                    <div class="textContainer">
                        <p class="textTitle">Cultura</p>
                        <p class="text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
                <div class="right">
                    <img class="img logo" src="../../assets/companyProfile/microsoftLogo.png" alt="Logo" />
                    
                    <img  class="img like" src="../../assets/companyProfile/likeIcon.png" alt="Like" />
                </div>
            </div>
        </div>
    </body>
</html>
