<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Competências</title>
        <link rel="stylesheet" href="../../styles/global.css" />
        <link rel="stylesheet" href="./companies.css" />
    </head>
    <body>
        <div class="navbar">
            <h3 class="navbarTitle">Brazilians In Tech</h3>
            <div class="navItem">
                <button id="logoutButton">Logout</button>
            </div>
        </div>
        <div class="container">
            <div class="sidebar">
                <div class="listTitle">Aprovação</div>
                <ul class="list">
                    <li class="listItem">
                        <a href="/views/companyApproval/companyApproval.html">Aprovação de empresas</a>
                    </li>
                </ul>
                <div class="listTitle">Padronizações</div>
                <ul class="list">
                    <li class="listItem"><a href="/views/skills/skills.html">Competências</a></li>
                </ul>
                <ul class="list">
                    <li class="listItem"><a href="/views/area/area.html">Áreas</a></li>
                </ul>
                <div class="listTitle">Visualizar</div>
                <ul class="list">
                    <li class="listItem active">
                        <a href="/views/companies/companies.html">Empresas aprovadas</a>
                    </li>
                    <li class="listItem"><a href="">Usuárias [Em desenvolvimento]</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="title">Empresas aprovadas</div>
                <table class="skillTable">
                    <tr class="row">
                        <th>Nome</th>
                        <th>Email</th>
                        <th>CNPJ</th>
                        <th>Telefone</th>
                        <th>Telefone 2</th>
                        <th>Data de abertura</th>
                        <th>Nicho de mercado</th>
                        <th>Ações</th>
                    </tr>
                </table>
            </div>
        </div>

        <div class="backdrop"></div>

        <div class="modal">
            <div class="modalHead">Confirmar</div>
            <div class="modalBody">
                <p>Tem certeza que deseja excluir a empresa e todas as suas vagas?</p>
                <button class="confirmationBtn">Excluir</button>
            </div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>
        <script src="../../global/global.js"></script>

        <script src="./companies.js"></script>
    </body>
</html>
